# --- Python Standards ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Virtual Environment ---
venv/
.venv/
env/
venv*/

# --- Mac OS Junk ---
.DS_Store
.AppleDouble
.LSOverride
._*

# --- IDE Settings ---
.vscode/
.idea/

# --- Large Data Files  ---
01_Data/raw_hospital_data.csv

# --- Logs ---
*.log
audit.log
04_Logs/

# --- Generated database ---
health_dashboard.db