# --- Python Standards ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Virtual Environment ---
venv/
.venv/
env/

# --- Mac OS Junk  ---
.DS_Store
.AppleDouble
.LSOverride

# --- IDE Settings ---
.vscode/
.idea/

# --- Large Data Files  ---
01_Data/raw_hospital_data.csv

# --- Logs ---
*.log
audit.log